<!--
  templateType: "page"
  isAvailableForNewContent: true
  label: Guides Landing Page
  screenshotPath: ../images/template-previews/guides-landing-page.png
-->
{% extends './layouts/base.html' %}

{% block body %}
  {% include './partials/guides-landing-page/hero.html' %}
  {% include './partials/guides-landing-page/value.html' %}
  {% include './partials/guides-landing-page/faq.html' %}
  {% include './partials/guides-landing-page/cta.html' %}

  {# need dnd_area to migrate existing pages, should be able to remove later #}
  <div style="display: none">{% dnd_area "content_area" %}{% end_dnd_area %}</div>
{% endblock body %}