<!--
  templateType: global_partial
  label: Footer
-->

<div class="copyright-footer">
  <div class="container w-container">
    <div class="footer-wrapper">

      {% module "Logo" path="@hubspot/linked_image", 
        label="Logo", 
        extra_classes="footer-logo", 
        img={ 
          src: "https://assets.website-files.com/5f33100f947c8a488735d14a/6041204595fc0d5e48223fca_ClockShark%20White%20Horizontal%20Logo%20Large%203x%201.png",
          alt: "ClockShark Logo", 
          width: 235,
          height: 39
        }
      %}
      
      {% module "Copyright" path='@hubspot/text',
        label="Copyright",
        extra_classes="footer-text", 
        value="© {{ year }} ClockShark" 
      %}
    </div>
  </div>
</div>