<!--
    templateType: page
    isAvailableForNewContent: false
-->
<!-- Begin partial -->
<div class="gl-cta">
  <div class="container w-container">
    <div class="gl-cta-wrapper">

      <h2 class="gl-cta-header">
        {% module "CTA Header" path='@hubspot/text',
          label="CTA Header",
          no_wrapper=true,
          value="Download Your Free Guide Today!" 
        %}
      </h2>

      <div class="gl-cta-button-wrapper">
        {% module "module_161584007115514" path="/CS Theme TmmDev/modules/GL CTA Popup", label="GL CTA Popup" %}
      </div>

    </div>
  </div>
</div>
<!-- End partial -->