<div class="gl-faq">
  <div class="w-container">
    <div class="gl-faq-wrapper">
      <h3 class="gl-faq-header">Frequently Asked Questions</h3>
      <h4 class="gl-faq-question">Why do I need to fill out the information requested?</h4>
      <p class="gl-faq-answer">We will always keep your personal information safe. We ask for your information in exchange for a valuable resource in order to (a) improve your browsing experience by personalizing the ClockShark site to your needs; (b) send information to you that we think may be of interest to you by email or other means; (c) send you marketing communications that we think may be of value to you. You can read more about our privacy policy here.</p>
      <h4 class="gl-faq-question">Is this really free?</h4>
      <p class="gl-faq-answer">Absolutely. Just sharing some free knowledge that we hope you’ll find useful. Keep us in mind the next time you're ready to grow your business</p>
    </div>
  </div>
</div>